<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group12project"
        tools:targetApi="31">
        <activity
            android:name=".Rules"
            android:exported="false" />
        <activity
            android:name=".Leaderboard"
            android:exported="false"
            android:label="@string/title_activity_leaderboard"
            android:theme="@style/Theme.Group12project.NoActionBar" />
        <activity
            android:name=".user_names"
            android:exported="false"
            android:label="@string/title_activity_user_names"
            android:theme="@style/Theme.Group12project.NoActionBar" />
        <activity
            android:name=".user_names_bot"
            android:exported="false"
            android:label="@string/title_activity_user_names"
            android:theme="@style/Theme.Group12project.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Group12project.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chessboard"
            android:exported="true"
            android:label="Chessboard" />
    </application>

</manifest>